* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.Logo {
  cursor: pointer;
  margin-right: 10px;
  padding-right: 15px;

  transition: all 0.5s ease-in;
}
.Logo:hover {
  transform: rotate(360deg);
}

.main_image {
  width: 100%;
  object-fit: cover;
}

.navbar {
  width: 100%;
  max-width: 100%;
  height: 56px;
  background-color: #0e0e0f;
  z-index: 99;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Container {
  padding: 0;
  width: 100%;
  height: 100%;

  width: 100%;
}

.search-bar {
  width: 200px;
  height: 34px;
  border: 2px solid #0f0d17;
  box-shadow: -5px 4px 2px 2px black;
  padding: 8px;
  border-radius: 2px;
  margin-right: 10px;
  font-weight: 500;
  outline: none;
}

.search-bar::placeholder {
  color: #0f0d17;
  font-family: sans-serif;
  font-weight: 500;
  border: none;
}

.Carousel {
  width: 100%;
  height: 100%;

  margin: 56px auto;
}

.Carousel img {
  object-fit: cover;
  object-position: center;
  image-rendering: crisp-edges;
  image-resolution: 3600dpi;

  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 530px;
  z-index: -4;
  margin: 0 auto;
  overflow: visible;
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar:active {
  border: none;
  outline: none;
}

main {
  margin: 0 auto;
}

.Searchbutton {
  width: 40px;
  height: 33px;
  display: inline-block;
  cursor: pointer;
  stroke: #ffffff;
  stroke-width: 2px;
}

.app-heading {
  font-weight: bold;
  margin: 0;
  font-size: 2em;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for mobile screens */
@media screen and (max-width: 767px) {
  .app-heading {
    display: none;
  }

  .carousel img {
    height: 300px; /* Adjust height for smaller screens */
  }
}
