* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #000
}

body {
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.Logo {
  cursor: pointer;
  margin-right: 10px;
  padding-right: 15px;
  width: 50px;
  height: auto;

  transition: all 0.2s ease-in;
}
.Logo:hover {
  transform: scale(1.04);
}

.main_image {
  width: 100%;
  object-fit: cover;
}

.navbar {
  width: 100%;
  max-width: 100%;
  height: 56px;
  background-color: var(--bg-color);
  z-index: 99;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Container {
  padding: 0;
  width: 100%;
  height: 100%;

  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
}

.Container h1 {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.AnimeImages {
  width: 100%;
  margin-top: 4px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.AnimeImages:hover {
  transform: scale(1.05);
  opacity: 0.4;
}

.search-bar {
  width: 500px; 
  height: 34px;
  padding: 8px;
  border-radius: 2px;
  font-weight: 500;
  outline: none;
  background-color: #000; 
  color: #ffffff; 
}

.search-bar::placeholder {
  color: #fff; 
}


.Carousel {
  width: 100%;
  height: 100%;

  margin: 0 auto;
  margin-top: 56px;
}

h1 {
  color: white;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}

.Carousel img {
  object-fit: cover;
  object-position: center;
  image-rendering: crisp-edges;
  image-resolution: 3600dpi;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 530px;
  z-index: -4;
  margin: 0 auto;
  overflow: visible;
}

.search-bar:active {
  border: none;
  outline: none;
}

main {
  margin: 0 auto;
}

.Searchbutton {
  width: 40px;
  height: 33px;
  display: inline-block;
  cursor: pointer;
  stroke: #ffffff;
  stroke-width: 2px;
}

.app-heading {
  font-weight: bold;
  margin: 0;
  font-size: 2em;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Styles for mobile screens */
@media screen and (max-width: 767px) {
  .app-heading {
    display: none;
  }

  .carousel img {
    height: 300px; /* Adjust height for smaller screens */
  }
}
iframe {
  width: 100%; /* Make the iframe fill its container */
  height: 100%; /* Make the iframe fill its container */
  border: none; /* Remove border */
  display: block; /* Ensure the iframe behaves as a block element */
  overflow: hidden; /* Hide any content that overflows the iframe's dimensions */
  z-index: -1;
  border-radius: 8px; /* Add rounded corners */
 
}

/* Responsive iframe */
.container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio (divide 9 by 16 = 0.5625) */
}

#videoPlayer {
  width: 100%;
  height: 100%;
  min-height: 800px;

  border: none;
  overflow: hidden;
}

/*  Pc and large Devices */

@media screen and (min-width: 800) {
  .AnimeImages {
    width: 200px;
    height: auto;
  }
}

/* Anime Page Styles */

.AnimePage_main_section {
  width: 1200px;
  /* border: 2px solid white; */
  position: relative;
  margin-bottom: -60px;
}

.AnimePage_main_section h1 {
  color: white;
  font-size: 2em;
}

.AnimePage_main_section_ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  margin-top: 10px;
  gap: 23px;
}

.AnimePage_main_section h2 {
  color: #fff;
  font-size: 1.4rem;
}

.AnimePage_main_section_li {
}

.EpisodeButton {
  background-color: rgb(204, 69, 69);
  color: white;
  border: none;
  width: 85px;
  height: 60px;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.EpisodeButton:hover {
  background-color: #303036;
}
